
body {
  background-color:pink;
  width: 400 px;
  border: 400 px red;
}

.sidebar {
  text-align: center;
  float: center;

}
h1 {
text-align: center;
}
h2 {
text-align: left;
float: none;
}

.box {
  width: 1200px;
  padding: 20px;
  border: 20px gray;
  margin: 10px
}
