body {
  background-color: pink;
  width: 400px;
  margin: 20px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
  float: none;
}

.box {
  padding: 5px;
  border-width: 3px;
  border: solid black;
  margin: 15px;
  height: 970px;
}

.sidebar {
  text-align: center;
  float: none;
}

#green-bold {
  color: green;
  font-weight: bold;
}

#name {
  padding: 8px;
  border-width: 15px;
  border: solid black;
  margin: 15px;
  font-weight: bold;
  color: magenta;
}

.well {
  height: 955px;
}

.color {
  color: green;
  font-weight: bold;
}
